body {
background-color: lightblue;
}

/* Styles for cards from dinosaurs array. */
.dinosaur {
   border: 3px solid green;
}

/* Styles for cards formed from assignments array. */
.card {
   border: 3px solid purple;
   background-color: lightgreen;
   text-align: center;
   padding: 15px;
}

/* Styles for elements from assignment cards.  */
.title {
   width: 100%;
   background-color: lightgray;
   border-bottom: 3px solid darkgray;
   padding: 10px;
   text-align: center;
}

.due-date {
   font-weight: bold;
}
